<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/home.css">
    <meta charset="UTF-8">
    <title>Andrei Aleksanian</title>
</head>
<body>
    <header>
        <div class="navigation">
            <a href="#" class="logo">Andrei Aleksanian</a>
            <nav>
                <ul>
                    <li><a href="#">Search</a></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <h2>Movies We Recommend You watch:</h2>
    <div id="werecommend"></div>

<script>
    fetch("https://my-json-server.typicode.com/typicode/demo/posts")
    .then(response => response.json())
    .then(data => {
        var display = document.getElementById("werecommend")
        var list = document.createElement("ul")
        data.forEach(i => {
            var element = document.createElement("li")
            element.innerHTML = "Movie title:"+ i['title']
            list.appendChild(element)
        })
        display.appendChild(list)
    })
</script>
</body>
</html>