{%extends "layout.html"%}
{%block content%}
    <main>
        <section class="home-banner">
            <div>
                <h2>I am a freelance software developer</h2>
                <h1>With specialty in mobile applications,
                    front-end web development,
                    machine learning and data science.</h1>
            </div>
        </section>

        <div class="wrapper">
            <section class="buttons">
                <a href="projects.html" class="link-box">
                    <div>
                        <h3>Projects</h3>
                    </div>
                </a>

                <a href="resume.html" class="link-box-large">
                    <div>
                        <h3>Resume</h3>
                    </div>
                </a>

                <a href="tutoring.html" class="link-box">
                    <div>
                        <h3>Tutoring</h3>
                    </div>
                </a>

                <a href="about-me.html" class="link-box-large">
                    <div>
                        <h3>About Me</h3>
                    </div>
                </a>

                <a href="contact.html" class="link-box">
                    <div>
                        <h3>Contact</h3>
                    </div>
                </a>

                <a href="hobbies.html" class="link-box">
                    <div>
                        <h3>Hobbies</h3>
                    </div>
                </a>
            </section>
        </div>
    </main>
{%endblock%}

